<div id="calender" class="m-3"></div>

<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Lịch phỏng vấn</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">

            </div>

        </div>
    </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function () {

            var events = [];
            $.ajax({
                url: "/Calendar/GetEvents",
                //type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            Id: v.CandidateId,
                            title: 'Phỏng vấn ' +v.FullName,
                            description: v.Note,
                            start: moment(v.InterviewTime),
                            //end: null,
                            //color: 'green',
                            allDay: false
                        });
                    })
                    GenerateCalender(events);
                },
                error: function () {
                    alert('failed');
                }
            })

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 850,
                    defaultDate: new Date(),
                    timeFormat: 'HH(:mm)',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#14e3d5',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        //$('#myModal #eventTitle').text(calEvent.title);
                        //var $description = $('<div/>');
                        //$description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        //if (calEvent.end != null) {
                        //    $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        //}
                        //$description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        //$('#myModal #pDetails').empty().html($description);

                        //$('#myModal').modal();

                        var url = "/Contact/ScheduleView?CandidateId=" + calEvent.Id;

                            $("#myModalBodyDiv1").load(url, function () {
                                $("#myModal1").modal("show");
                            })
                        }
                    
                })
            }
        })
    </script>
}