@page
@model Recruitment.WebAPI.Pages.Shared.IndexModel
@{
}

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewBag.Title = "Trang chủ";
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mt-3">
    Thêm ứng viên
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Nhập ứng viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="myModalBodyDiv1">

            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="myModalBodyDiv2">

        </div>
    </div>
</div>

<input type="hidden" id="hiddenCandidateId" />

<form action="">
    <div class="input-group w-25 py-3">
        <input type="text" class="form-control" placeholder="Tìm kiếm ứng viên" name="namestr">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
                Tìm kiếm
            </button>
        </div>
    </div>
</form>

<!-- List candidate -->
<table class="table table-bordered">
    <thead>
        <tr class="text-center bg-secondary text-white">
            <th scope="col">Chức danh</th>
            <th scope="col">Vị trí</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Số điện thoại</th>
            <th scope="col">Email</th>
            <th scope="col">Người giới thiệu</th>
            <th scope="col">CV</th>
        </tr>
    </thead>
    <tbody>
        <tr id="bang1">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-link"></button>
            </td>
            <td class="text-center">
                <button type="button" class="btn btn-success btn-sm">Sửa</button>&nbsp;
                <button type="button" class="btn btn-danger btn-sm">Xoá</button>
            </td>
        </tr>
    </tbody>
</table>

<script>

    //var AddOrEdit = function (candidateId) {

    //    var url = "/Home/AddOrEdit?CandidateId=" + candidateId;

    //    $("#myModalBodyDiv1").load(url, function () {
    //        $("#myModal1").modal("show");
    //    })
    //}

    //var ShowCV = function (candidateId) {

    //    var url = "/Approve/ShowCV?CandidateId=" + candidateId;

    //    $("#myModalBodyDiv2").load(url, function () {
    //        $("#myModal2").modal("show");
    //    })
    //}

    var html
    fetch("/api/candidate/")
        .then(response => response.json())
        .then(data => {
            var obj = JSON.parse(JSON.stringify(data))
            for (var i = 0; i < obj.length; i++) {
                html += `<td>${obj[i].fullName}</td>`
            }
            document.getElementById('bang1').innerHTML = html
            
        })
    
    
</script>
