@model Recruitment.CandidateViewModel

<form action="/Contact/Schedule" method="post">
    @Html.HiddenFor(model => model.CandidateId)
    <div class="form-row">
        <label>Thời gian PV</label>
        @Html.TextBoxFor(model => model.InterviewTime, "{0:yyyy-MM-ddTHH:mm}", new { type = "datetime-local", @class = "form-control" })
    </div>

    <div class="form-row">
        <label>Địa điểm PV</label>
        <select class="form-control" name="InterviewLocation">
            <option>Hà Nội</option>
            <option>Huế</option>
        </select>
    </div>

    <div class="form-row">
        <label>Nguời PV</label>
        @Html.DropDownListFor(model => model.EmployeeId, ViewBag.EmployeeList as SelectList, "-- Select --", new { @class = "form-control" })
    </div>

    <div class="form-row">
        <label>Ghi chú</label>
        @Html.TextBoxFor(model => model.Note, new { @class = "form-control" })
    </div>

    <div class="text-right pt-3">
        <button type="submit" class="btn btn-success">Xác nhận</button>
        <button type="button" class="btn btn-danger" onclick="location.href='/Contact/NotbeContacted?CandidateId=@Model.CandidateId'">Không liên lạc được</button>
    </div>
</form>

